.nav{
    background-image: linear-gradient(to right, #072f5f, #3895d3 ) !important;
    
    border-radius: 0.2rem !important;
    position: sticky;
    top: 1%;
}

.ms-auto, .ml-auto{
    color: white;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
}

.ml-auto {
    display: inline-block;
    letter-spacing: 0.055rem;
    cursor: pointer;
  }
  
  .ml-auto::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
    margin-top: -0.7rem;
  }
  
  .ml-auto:hover::after {
    width: 100%;
  }


.userName{
    text-align: center;
}

.userName span{
    font-weight: 500;
    font-size: 1.2rem;
}

.userName span::after{
    content: '\a';
    white-space: pre !important;
}

.userName small{
    font-size: 0.8rem;
}