.button-color{
    background-color: #3895d3;
    border: none;
}

.error{
    color: red;
}

.success{
    color: green;
}

.main{
    display: flex;
    background-color: #EEF4F8;
}

.sidebar{
    flex: 0.1;
}

.body{
    flex:0.9;
    margin:0.5rem
}
