.button-color{
    background-color: blue;
    border: none;
}

.error{
    color: red;
}

.success{
    color: green;
}

.main{
    display: flex;
}

.sidebar{
    flex: 0.1;
}

.body{
    flex:0.9
}
